@model ReadersChronicle.Models.ForgotPasswordViewModel
<h2>Forgot Password</h2>
@using (Html.BeginForm("GetSecurityQuestion", "Account", FormMethod.Post))
{
    <div>
        @Html.LabelFor(m => m.UserNameOrEmail)
        @Html.TextBoxFor(m => m.UserNameOrEmail)
        @Html.ValidationMessageFor(m => m.UserNameOrEmail)
    </div>
    <button type="submit">Get Security Question</button>
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
}
