html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

html, body {
    height: 100%; /* Ensure both html and body take full height */
    margin: 0; /* Remove default margin */
}

    body::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: inherit;
        z-index: -1; /* Place the gradient layer behind the content */
    }

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../Common/background.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100%; /* Ensure the body stretches to at least the height of the viewport */
    display: flex; /* Enable flexbox for main content positioning */
    flex-direction: column;
    background-attachment: fixed; /* Fix the background for smaller screens */
    background-size: cover;
}

#main-container {
    height: 90vh;
    flex-grow: 1;
}

main{
    padding-bottom: 0px !important;
}

nav{
    background-color: #8d6b88 !important;
    color: white !important;
    font-size:20px;
}

#logout-button{
    font-size:18px;
    margin-top:2px;
}

.navbar-nav .nav-link {
    font-size: 1rem; /* Smaller font size */
}

.navbar-brand {
    font-size: 1rem; /* Slightly larger for the brand */
}

#logout-button{
    font-size: 1rem;
    margin-top: 0px;
}

@media (max-width: 768px) {
    .card {
        max-width: 100%;
    }

    .input-group .form-control {
        font-size: 0.9rem;
    }
}