html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: white;
}

#main-container{
    height:90vh;
    padding-top:7%;
}

main{
    padding-bottom: 0px !important;
}

nav{
    background-color: #8d6b88 !important;
    color: white !important;
    font-size:20px;
}

#logout-button{
    font-size:18px;
    margin-top:2px;
}

.navbar-nav .nav-link {
    font-size: 1rem; /* Smaller font size */
}

.navbar-brand {
    font-size: 1rem; /* Slightly larger for the brand */
}

#logout-button{
    font-size: 1rem;
    margin-top: 0px;
}

@media (max-width: 768px) {
    .card {
        max-width: 100%;
    }

    .input-group .form-control {
        font-size: 0.9rem;
    }
}