html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#main-container{
    height:90vh;
}

nav{
    background-color: #8d6b88 !important;
    color: white !important;
    font-size:20px;
}

#logout-button{
    font-size:18px;
    margin-top:2px;
}