@{
    ViewData["Title"] = "Home";
    bool isAuthenticated = User.Identity.IsAuthenticated;
}

<div class="container mt-5">
    @if (!isAuthenticated)
    {
        <div class="text-center">
            <h2>Welcome to the Application</h2>
            <p>To enjoy all the features, please <a href="@Url.Action("Login", "Account")">log in</a> or <a href="@Url.Action("Register", "Account")">register</a> an account.</p>
        </div>
    }
    else
    {
        <h2 class="mb-4 pt-5 text-center">Search for Books</h2>
        <form id="bookSearchForm" method="get" asp-action="SearchBooks">
            <div class="input-group mb-3">
                <input type="text" name="query" class="form-control" placeholder="Search by title or author" required />
                <button class="btn btn-primary" type="submit">Search</button>
            </div>
        </form>

        <div id="searchResults" class="row">
            @* Book search results will be injected here *@
        </div>
    }
</div>

@section Scripts {
    <script scoped>
        $(document).on('submit', '#bookSearchForm', function (e) {
            e.preventDefault();

            $.get('@Url.Action("SearchBooks", "Home")', $(this).serialize(), function (data) {
                $('#searchResults').html(data);
            });
        });
    </script>
}

<style scoped>
    .btn {
        background-color: #8d6b88;
        border: none;
    }

    .btn:hover{
            background-color: #013a55;
    }

    .container{
        width: 100vh;
    }
</style>
